# 5 Grouping Data & Aggregating Variables

## Table of contents
1. [Importing Libraries & Data](#imports)
2. [Aggregated mean of order number](#paragraph1)
3. [Loyalty flag](#paragraph2)
4. [Spending habits](#paragraph3)
5. [Types of spenders](#paragraph4)
6. [Frequent versus non-frequent customers](#paragraph5)
7. [Data export](#paragraph6)

### 1. Importing Libraries & Data <a name="imports"></a>

In [1]:
# Importing pandas, numpy and os libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Turning project folder path into a string
path = r'C:\Users\deuts\Desktop\Instacart Basket Analysis'

# Importing 'orders_products_merged_updated.pkl'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

### 2. Aggregated mean of order number <a name="paragraph1"></a>

In [3]:
# Checking shape of the data frame
ords_prods_merge.shape

(32404859, 19)

In [ ]:
# Displaying average amount of orders per department
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

In [5]:
# Caping a new data frame to 1000000 rows to compare to full data frame
df = ords_prods_merge[:1000000]

In [6]:
# Displaying average amount of orders per department for capped data frame
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

##### The averages do not add up, since it's a larger data set now. The averages differ by up to 3 average orders.

### 3. Loyalty flag <a name="paragraph2"></a>

In [7]:
# Displaying basic statistics for amount of orders per department
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.215751   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170638   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.773669   1  99
15               16.165037   1  99
16               17.665606   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

In [8]:
# Creating new column 'max_order'
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
# Checking output
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,22

In [10]:
# Creating loyalty flag for the whole df - 'Loyal customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
# Creating loyalty flag for the whole df - 'Regular customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [12]:
# Creating loyalty flag for the whole df - 'New customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
# Displaying output
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [ ]:
# Checking result
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

### 4. Spending habits <a name="paragraph3"></a>

In [15]:
# Determining average, minumum and maximum of prices of products purchased by customer type
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

#### On average the New Customers spend the most in their orders, followed by regular and then loyal customers. The minimum with 1.0 and the maximum with 9999.0 spent is the same for alle Customer Types.

### 5. Types of spenders <a name="paragraph4"></a>

In [ ]:
# Creating new column 'average_spending' and displaying output
ords_prods_merge['average_spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)
ords_prods_merge.head(15)

In [25]:
# Creating average_spending flag - 'Low spender'
ords_prods_merge.loc[ords_prods_merge['average_spending'] < 10, 'spending_flag'] = 'Low Spender'

In [26]:
# Creating loyalty flag - 'High spender '
ords_prods_merge.loc[(ords_prods_merge['average_spending'] >= 10), 'spending_flag'] = 'High Spender'

In [27]:
# Displaying output
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: spending_flag, dtype: int64

### 6. Frequent versus non-frequent customers <a name="paragraph5"></a>

In [28]:
# Creating new column 'average_spending' and displaying output
ords_prods_merge['purchase_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spending,spending_flag,purchase_frequency
0,2539329,1,1,2,8,NaN,196,1,0,195,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,195,...,both,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,195,...,both,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.367797,Low Spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,195,...,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,195,...,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low Spender,20.5
5,3367565,1,6,2,7,19.0,196,1,1,195,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.5
6,550135,1,7,1,9,20.0,196,1,1,195,...,both,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low Spender,20.5
7,3108588,1,8,1,14,14.0,196,2,1,195,...,both,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low Spender,20.5
8,2295261,1,9,1,16,0.0,196,4,1,195,...,both,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low Spender,20.5
9,2550362,1,10,4,8,30.0,196,1,1,195,...,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.5
10,2968173,15,15,1,9,7.0,196,2,0,195,...,both,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low Spender,10.0
11,1870022,15,17,2,16,8.0,196,6,1,195,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.0
12,1911383,15,18,2,11,7.0,196,1,1,195,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.0
13,2715276,15,21,1,9,7.0,196,1,1,195,...,both,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low Spender,10.0
14,487368,15,22,1,10,14.0,196,1,1,195,...,both,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low Spender,10.0

In [29]:
# Creating frequency flag - 'Non-frequent customer'
ords_prods_merge.loc[ords_prods_merge['purchase_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [30]:
# Creating frequency flag - 'Regular customer'
ords_prods_merge.loc[(ords_prods_merge['purchase_frequency'] > 10) & (ords_prods_merge['purchase_frequency'] <= 20), 'frequency_flag'] = 'Regular customer'

In [35]:
# Creating frequency flag - 'Frequent customer'
ords_prods_merge.loc[(ords_prods_merge['purchase_frequency'] <= 10), 'frequency_flag'] = 'Frequent Customer'

In [36]:
# Displaying output
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent Customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

### 7. Data export <a name="paragraph6"></a>

In [38]:
# Exporting data frame as pickle file to prepared data folder
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_final.pkl'))